<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="test">
        <classes>
            <class name="tests.AddReviewTest"/>
            <class name="tests.LoginWithInvalidCredentialsTest"/>
            <class name="tests.TestCasesPageTest"/>
            <class name="tests.UserRegistrationFromCheckoutTest"/>
            <class name="tests.UserRegistrationTest"/>
        </classes>
    </test>
</suite>