<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<!--    <test verbose="2" preserve-order="true" name="Sanity">-->
<!--        <classes>-->
<!--            <class name="tests.TestSuite"/>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="test">
    <groups>
        <run>
            <include name="Regression"/>
        </run>
    </groups>
        <classes>
            <class name="tests.TestSuite"/>
        </classes>
    </test>
</suite>